In [ ]:
What is List? How will you reverse a list?

In [43]:
# list is a collection of things,enclosed in [] and seperated by commas.
my_numbers =[1,2,3,4,5,6,7,8,9,10]
my_numbers.reverse()
print(my_numbers)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
How will you compare two lists?

In [44]:
#The list.sort()method sorts the two lists and the == operator compares the two lists item by item 
#which means they equal data items at equal position.This checks if the list contains equal data item values 
#but it does not take into account the order of element in the list.

def compareList(l1,l2):
   l1.sort()
   l2.sort()
   if(l1==l2):
      return "Equal"
   else:
      return "Non equal"
l1=[1,2,3]
l2=[2,1,3]
print("First comparison",compareList(l1,l2))
l3=[1,2,3]
l4=[1,2,4]
print("Second comparison",compareList(l3,l4))

First comparison Equal
Second comparison Non equal

In [ ]:
How will you remove last object from a list? Suppose list1 is [2, 33, 222, 14, and 25], what is list1 [-1]?

In [45]:
list1=[2,33,222,14,25]
   # -1,-2,-3,-4,-5
print([list1[-1]]) 
print([list1[-2]])
print([list1[-3]])
print([list1[-4]])
print([list1[-5]])

[25]
[14]
[222]
[33]
[2]

In [ ]:
Differentiate between append () and extend () methods?

In [46]:
#The append() method in the Python programming language adds an item to a list that already exists. 
#whereas the extend() method adds each of the iterable elements
#which is supplied as a parameter to the end of the original list.
# for example

#create a list that needs to be appended
original_lst = [3,4,5]
#use the append function to add an element at the end of the list.
original_lst.append(6)
print (original_lst)



#The append() method in the programming language Python adds an item to a list that already exists. 
#Instead of being returned to a new list, the item will be added toward the end of the existing list. 
#Because lists can include elements of several data types, programmers can add items of any data type.

# assign list to values
list_one = ['January', 'February', 'March']

# use the extend method 
list_one.extend(['April', 'May', 'June'])

# displaying the list
print(list_one)

[3, 4, 5, 6]
['January', 'February', 'March', 'April', 'May', 'June']

In [ ]:
Write a Python program to find the second smallest number in a list.

In [47]:
def second_smallest(numbers):
  if (len(numbers)<2):
    return
  if ((len(numbers)==2)  and (numbers[0] == numbers[1]) ):
    return
  dup_items = set()
  uniq_items = []
  for x in numbers:
    if x not in dup_items:
      uniq_items.append(x)
      dup_items.add(x)
  uniq_items.sort()    
  return  uniq_items[1]   

print(second_smallest([1, 2, -8, -2, 0, -2]))
print(second_smallest([1, 1, 0, 0, 2, -2, -2]))
print(second_smallest([1, 1, 1, 0, 0, 0, 2, -2, -2]))
print(second_smallest([2,2]))
print(second_smallest([2]))

-2
0
0
None
None

In [ ]:
Write a Python program to reverse a tuple.

In [48]:
# Reversing a tuple using slicing technique
# New tuple is created
def Reverse(tuples):
    new_tup = tuples[::-1]
    return new_tup
     
# Driver Code
tuples = ('z','a','d','f','g','e','e','k')
print(Reverse(tuples))

('k', 'e', 'e', 'g', 'f', 'd', 'a', 'z')

In [ ]:
Write a Python program to remove duplicates from a list.

In [49]:
# Python code to remove duplicate elements
def Remove(duplicate):
    final_list = []
    for num in duplicate:
        if num not in final_list:
            final_list.append(num)
    return final_list
     
# Driver Code
duplicate = [2, 4, 10, 20, 5, 2, 20, 4]
print(Remove(duplicate))

[2, 4, 10, 20, 5]

In [ ]:
Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [50]:
def unique_list(l):
  num = []
  for a in l:
    if a not in num:
      num.append(a)
  return num
print('unique elements are')
print(unique_list([1,2,4,5,4,5,6,9,10]))

unique elements are
[1, 2, 4, 5, 6, 9, 10]

In [ ]:
Write a Python program to check a list is empty or not.

In [51]:
def Enquiry(lis1):
    if len(lis1) == 0:
        return 0
    else:
        return 1
 
# Driver Code
lis1 = []
if Enquiry(lis1):
    print("The list is not empty")
else:
    print("Empty List")

Empty List

In [ ]:
Write a Python function to get the largest number, smallest num and sum of all from a list.

In [52]:
lst = []
num = int(input('How many numbers: '))
for n in range(num):
    numbers = int(input('Enter number '))
    lst.append(numbers)
print("Maximum element in the list is :", max(lst), "\nMinimum element in the list is :", min(lst))

numbers = [25,96,13,67,34,80]
 
Sum = sum(numbers, 6)
print(Sum)

How many numbers: 6
Enter number 25
Enter number 96
Enter number 13
Enter number 67
Enter number 34
Enter number 80
Maximum element in the list is : 96
Minimum element in the list is : 13
321

In [ ]:
Write a Python program to get unique values from a list

In [53]:
# function to get unique values
def unique(list1):
 
    # initialize a null list
    unique_list = []
 
    # traverse for all elements
    for x in list1:
        # check if exists in unique_list or not
        if x not in unique_list:
            unique_list.append(x)
    # print list
    for x in unique_list:
        print(x)
 
 
# driver code
list1 = [10, 20, 10, 30, 40, 40]
print("the unique values from 1st list is")
unique(list1)

the unique values from 1st list is
10
20
30
40

In [ ]:
Write a Python program to split a list into different variables.

In [54]:
names=['advik','amol','ashu']
print("names:",names)

a,b,c=names

print("var a:",a)
print("var b:",b)
print("var c:",c)

names: ['advik', 'amol', 'ashu']
var a: advik
var b: amol
var c: ashu

In [ ]:
Write a Python program to check whether an element exists within a tuple

In [55]:
tuplex = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")
print("r" in tuplex)
print(5 in tuplex)

True
False

In [ ]:
Write a Python program to convert a list to a tuple.

In [1]:
# Python3 program to convert a
# list into a tuple
def convert(list):
    return tuple(list)
 
# Driver function
list = [1, 2, 3, 4]
print(convert(list))

(1, 2, 3, 4)

In [ ]:
Write a Python program to find the repeated items of a tuple.

In [17]:
#create a tuple
tuple = 2, 4, 5, 6, 2, 3, 4, 4, 7 
print(tuple)
#return the number of times it appears in the tuple.
count = tuple.count(4)
print(count)

(2, 4, 5, 6, 2, 3, 4, 4, 7)
3

In [ ]:
Write a Python program to remove an empty tuple(s) from a list of tuples

In [18]:
# Python program to remove empty tuples from a
# list of tuples function to remove empty tuples
# using list comprehension
def Remove(tuples):
    tuples = [t for t in tuples if t]
    return tuples
 
# Driver Code
tuples = [(), ('ram','15','8'), (), ('laxman', 'sita'),
          ('krishna', 'akbar', '45'), ('',''),()]
print(Remove(tuples))

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

In [ ]:
Write a Python program to unzip a list of tuples into individual lists.

In [1]:
#create a tuple
l = [(1,2), (3,4), (8,9)]
print(list(zip(*l)))

[(1, 3, 8), (2, 4, 9)]

In [ ]:
Write a Python function to check whether a number is in a given range

In [34]:
def test_range(n):
    if n in range(3,9):
        print( " %s is in the range"%str(n))
    else :
        print("The number is outside the given range.")
test_range(5)

 5 is in the range

In [ ]:
Write a Python function that checks whether a passed string is palindrome or not

In [36]:
input_string = 'civic'
rev = input_string[::-1]

if input_string == rev:
    print(rev + " is Palindrome")
else:
    print(rev + " is not Palindrome")

civic is Palindrome

In [ ]:
Write a Python program to returns sum of all divisors of a number

In [37]:
def sum_div(number):
    divisors = [1]
    for i in range(2, number):
        if (number % i)==0:
            divisors.append(i)
    return sum(divisors)
print(sum_div(8))
print(sum_div(12))

7
16

In [ ]:
Write a Python program to find the maximum and minimum numbers from the specified decimal numbers.

In [2]:
from decimal import *
data = list(map(Decimal, '2.45 2.69 2.45 3.45 2.00 0.04 7.25'.split()))
print("Maximum: ", max(data))
print("Minimum: ", min(data))

Maximum:  7.25
Minimum:  0.04

In [ ]:
Write a Python program to calculate the area of a parallelogram

In [3]:
base = float(input('Length of base: '))
height = float(input('Measurement of height: '))
area = base * height
print("Area is: ", area)

Length of base: 15
Measurement of height: 7
Area is:  105.0

In [ ]:
Write a Python function to check whether a number is perfect or not.

In [4]:
def perfect_number(n):
    sum = 0
    for x in range(1, n):
        if n % x == 0:
            sum += x
    return sum == n
print(perfect_number(6))

True

In [ ]:
Write a Python program to convert degree to radian

In [5]:
pi=22/7
degree = float(input("Input degrees: "))
radian = degree*(pi/180)
print(radian)

Input degrees: 80
1.3968253968253967

In [ ]:
Write a Python program to calculate the area of a trapezoid

In [6]:
base_1 = 5
base_2 = 6
height = float(input("Height of trapezoid: "))
base_1 = float(input('Base one value: '))
base_2 = float(input('Base two value: '))
area = ((base_1 + base_2) / 2) * height
print("Area is:", area)

Height of trapezoid: 56
Base one value: 19
Base two value: 67
Area is: 2408.0

In [ ]:
Write a Python program to calculate surface volume and area of a cylinder

In [7]:
pi=22/7
height = float(input('Height of cylinder: '))
radian = float(input('Radius of cylinder: '))
volume = pi * radian * radian * height
sur_area = ((2*pi*radian) * height) + ((pi*radian**2)*2)
print("Volume is: ", volume)
print("Surface Area is: ", sur_area)

Height of cylinder: 40
Radius of cylinder: 10
Volume is:  12571.42857142857
Surface Area is:  3142.8571428571427